body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('../static/img/theater-seats.jpg');
    background-size: cover;  /* Adjusts the background image size to cover the entire body */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center; /* Centers the background image */

}

h1 {
    margin-top: 50px;
}

form {
    margin-top: 20px;
}

textarea {
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
